.wrapper {
    padding: 120px;
}
.course-container,
.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.team-container {
    margin-top: 100px;
}

.course-container .image-container {
    border-radius: 20px;
    background-color: #fd7e14;
    box-shadow: 0px 0px 40px 0px rgba(16, 24, 40, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-container .image-container img {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
}

.team-container .image-container {
    border-radius: 20px;
    border: 15px solid var(--Primary, #fd7e14);
    background: lightgray 50% cover no-repeat;
    box-shadow: 0px 0px 40px 0px rgba(16, 24, 40, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-container .image-container img {
}

.content-container {
}
.content-container h4 {
    color: var(--Primary, #fd7e14);
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -1.2px;
}
.content-container p {
    color: #4c5276;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 15px;
    text-align: justify;
}

.members-container {
    margin-top: 100px;
    padding: 0 50px;
}
.members-container > h4 {
    color: var(--Primary, #fd7e14);
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -1.2px;
}
.members-container > p {
    color: #4c5276;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
.member-cards-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}
.member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 0px 69.765px 0px rgba(172, 187, 201, 0.42);
}
.member-card:hover {
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
    transform: scale(1.05);
}
.member-card img {
    width: 100%;
    border-radius: 10px;
}
.member-info {
}
.member-info h4 {
    color: #4c5276;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    line-height: 40px;
}
.member-info p {
    color: var(--neutral-500, #adb5bd);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}
