.search {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.searchInputs {
    width: 100%;
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 12px;
    background: var(--Neutral-White, #fff);
    box-shadow: 0px 0px 40px 0px rgba(16, 24, 40, 0.1);
}

.search input {
    width: 100%;
    color: var(--Neutral-200, #adb5bd);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    border: none;
}

.searchIconDiv {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: var(--Primary, #fd7e14);
}

.searchIcon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

input:focus {
    outline: none;
}

.searchIcon svg {
    height: 100%;
}

.dataResult {
    margin-top: 5px;
    width: 100%;
    height: auto;
    background-color: white;
    font-family: Inter;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    margin-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.dataResult .dataItem:last-child {
    border: none;
}

.dataItem p {
    margin-left: 10px;
}

.a {
    text-decoration: none;
}

a:hover {
    background-color: #e8e8e8;
}

.clearBtn {
    cursor: pointer;
    width: 25px;
    height: 25px;
}
