.body {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body > img {
    width: 70%;
    margin-top: 120px;
}
.body_title {
    text-align: center;
    padding-top: 45px;
}

.body_title > h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;

    color: #000000;
}

.body_sort {
    display: flex;
    padding-top: 60px;
    justify-content: space-around;
}

.sortGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sortGroup > label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #4c5276;
    margin-bottom: 10px;
}

.sortGroup > select,
option {
    padding: 8px;
    width: 292px;
    height: 40px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(28, 27, 31, 0.65);
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    color: #4c5276;
    font-size: 18px;
    margin-top: 10px;
}

.switchToggle {
    width: 60%;
}
.body_sort_right {
    display: flex;
}

.body_sort_right > .sortGroup:nth-child(2) {
    margin-left: 50px;
}

.home-product {
    display: grid !important;
    grid-template-columns: auto auto auto;
    gap: 25px;
    margin-top: 45px;
}

.product_item {
    padding: 20px 10px;
    text-align: left;
    display: block;
    text-decoration: none;
}

.product_item:hover {
    box-shadow: -5px 5px 15px -3px #555;
}

.product_item_img {
    display: block;

    padding: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 45px;
    border: 1px solid #333;
}

.product_item > p {
    font-family: 'Poppins';
    line-height: 30px;
    color: #656689;
    margin-left: 15px;
}

.product_img_wrap {
    position: relative;
}

.product_img_wrap:hover > .product_item_add_btn {
    display: block;
}

.product_item_add_btn {
    position: absolute;
    border-radius: 15px;
    height: 50px;
    background-color: #fb901a;
    bottom: 0;
    width: 100%;
    line-height: 50px;
    animation: SlideFromBot ease 0.5s;
    display: none;
    text-align: center;
    color: #333;
}

.product_item_add_btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

@keyframes SlideFromBot {
    from {
        height: 0;
    }
    to {
        height: 50px;
    }
}

.product_item_name {
    height: 60px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 5px;
}

.product_item_description {
    text-align: left;
    margin-top: 5px;
    font-size: 14px;
}
.product_item_price {
    text-align: left;

    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pagination {
    margin-top: 50px;
}

.pagination-wrap {
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.pagination button {
    background-color: transparent;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #656689;
    border-radius: 5px;
    border-width: 1.5px;
}

.pagination button:hover {
    color: #fb901a;
    background-color: #e8e8e8e8;
    cursor: pointer;
}

.pagination button.active {
    font-weight: bold;
    color: #fb901a;
    background-color: #e8e8e8;
}
