.big-logo {
    position: absolute;
    right: 0;
    z-index: 0;
}
.wrapper {
    display: flex;
    justify-content: space-between;

}
.register-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    z-index: 100;
}
.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.name {
    font-size: 33px;
    color: #4b5175;
}
.wrapper img {
    width: 45%;
}

.register {
    margin-top: 20px;
}
.register h4 {
    color: #000;
    font-family: Inter;
    font-size: 33px;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
}
.register p {
    color: #8a92a6;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
    text-align: center;
    margin: 16px 0 25px 0;
}
.register-frame {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px 25px;
    width: 150%;
}
.register-info-container {
    display: flex;
    align-items: center;
    padding: 4px 16px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #fd7e14;
    background-color: #fff;
}

.show-icon {
    padding: 2px;
}
.show-icon:hover {
    opacity: 0.7;
    cursor: pointer;
}

.register-info {
    color: #8a92a6;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    margin-bottom: 4px;
}
.register-info-input {
    display: flex;
    width: 300px;
    height: 40px;
    padding: 8px 16px;
    font-size: 16px;
    align-items: center;
    gap: 227px;
    border-radius: 4px;
    border: 1px solid #fd7e14;
    background-color: #fff;
}
.password-container {
}

.agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 24px;
}
.agreement input:hover {
    cursor: pointer;
}
.remember-container {
    display: flex;
    align-items: center;
}
.question {
    color: #8a92a6;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
}

.sign-in-button {
    width: 40%;
    margin-top: 24px;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #fd7e14;
    border-color: transparent;

    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
}

.sign-in-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.other-account-container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.other-account-container > p {
    color: #232d42;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    text-align: center;
}
.other-account {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.google:hover,
.facebook:hover {
    cursor: pointer;
    opacity: 0.7;
}
.already-have-account {
    display: flex;
    align-items: center;
    gap: 5px;
}

.already-have-account p:first-child,
.already-have-account p:last-child {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
}

.already-have-account p {
    color: #232d42;
}
.to-sign-in-page {
    color: #fd7e14;
    cursor: pointer;
    text-decoration: none;
}

.to-sign-in-page:hover {
    text-decoration: underline;
    background-color: transparent;
}

